<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="/style.css">
    <title>count</title>
</head>
<body>
    <div class="user-greet-count">
    <h2>Hello, {{userName}} has been greeted {{count.greet_count}} times.</h2>
</div>
</body>
</html>