<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="/style.css">
    <title>Greetings</title>
</head>

<body>
    <div class="container">
        <h1 class="greet-header">Greetings</h1>

        <div class="{{#if show}}show{{else}}flash-messages{{/if}}">
            {{#each messages}}
                <div class="error">{{this}}</div>
            {{/each}}
        </div>

        <form action="/greetings" method="POST">
            <div class="stats">
                <label for="name">Name: </label>
                <input type="text" name="name" class="name">
                <p class="errors"></p>
                <p>Number of people greeted: <span class="greet-count">{{allCount.count}}</span></p>
            </div>
            <div class="radio-btns">
                <input type="radio" class="lang-radio" id="english" name="lang" value="English">
                <label for="english">English</label>

                <input type="radio" class="lang-radio" id="afrikaans" name="lang" value="Afrikaans">
                <label for="afrikaans">Afrikaans</label>

                <input type="radio" class="lang-radio" id="zulu" name="lang" value="isiZulu">
                <label for="zulu">isiZulu</label>
            </div>
            <div class="btns">
                <button class="greet-btn" type="submit">Greet me</button>
                <button class="reset-btn" type="button">Reset</button>
            </div>
        </form>

        <h5 class="greet-text">{{greeting}}</h5>
        <a href="/greeted">Check out the greeted people -></a>
    </div>
</body>

<script>
    const resetBtn = document.querySelector('.reset-btn');
    let errorEl = document.querySelector('.error');
    const greetBtn = document.querySelector('.greet-btn');
    const flashDiv = document.querySelector('.flash-messages');

    greetBtn.addEventListener('click', function(){
        flashDiv.style.display = 'block';
        setTimeout(function(){

        }, 1000)
    })

    resetBtn.addEventListener('click', async function () {
            const userConfirmed = window.confirm("Are you sure you want to reset the counter?");
            if (userConfirmed) {
                try {
                    const response = await fetch('/reset-counter', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });

                    if (response.ok) {
                        const result = await response.text();
                        //console.log(result);
                        location.reload();
                    }
                } catch (error) {
                    console.error('An error occurred:', error);
                }
            }
        });
</script>

</html>